.header{

position:fixed;

top:0;

left:0;

width:100%;

background:rgba(6,24,38,.75);

backdrop-filter:blur(15px);

z-index:1000;

border-bottom:1px solid rgba(255,255,255,.08);

}

.navbar{

max-width:1400px;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

padding:18px 30px;

}

.logo{

text-decoration:none;

font-size:28px;

font-weight:700;

color:#FFD700;

}

.nav-links{

display:flex;

list-style:none;

gap:28px;

}

.nav-links a{

color:white;

text-decoration:none;

transition:.3s;

font-weight:500;

}

.nav-links a:hover{

color:#FF9933;

}
